JWT_SECRET_KEY=super_secret_app_key # Please change in prod
SALT_ROUNDS=12 # Higer number is safer but requires mode cpu power
ROOT_USERNAME=root
ROOT_PASSWORD=luashop-2023
JWT_ACCESS_TOKEN_EXPIRES=24 # Time in hours
